<section class="services">
  <h2 class="title">Услуги</h2>
  <p class="subtitle">Мы готовы вам помочь с любым типом объекта</p>
  <div class="services__inner">
    <div class="services__list">
      <div class="services__item">
        <svg class="services__icon">
          <use xlink:href="../img/sprite.svg#flats"></use>
        </svg>
        <div class="services__text">
          <h3 class="services__title">Квартира</h3>
          <p>
            Доступный и быстрый способ превратить свои активы в пассивный доход.
          </p>
        </div>
        <a class="services__link" href="#">
          <svg class="services__icon">
            <use xlink:href="../img/sprite.svg#arrow-right"></use>
          </svg>
          подробнее
        </a>
      </div>
      <div class="services__item">
        <svg class="services__icon">
          <use xlink:href="../img/sprite.svg#fireplace"></use>
        </svg>
        <div class="services__text">
          <h3 class="services__title">Дом</h3>
          <p>
            Владение целым зданием дает вам больше контроля и независимости.
          </p>
        </div>
        <a class="services__link" href="#">
          <svg class="services__icon">
            <use xlink:href="../img/sprite.svg#arrow-right"></use>
          </svg>
          подробнее
        </a>
      </div>
      <div class="services__item">
        <svg class="services__icon">
          <use xlink:href="../img/sprite.svg#winch"></use>
        </svg>
        <div class="services__text">
          <h3 class="services__title">Проэкт</h3>
          <p>
            Покупка недвижимости на этапе котлована быстрее окупит ваши вложения.
          </p>
        </div>
        <a class="services__link" href="#">
          <svg class="services__icon">
            <use xlink:href="../img/sprite.svg#arrow-right"></use>
          </svg>
          подробнее
        </a>
      </div>
    </div>
  </div>
</section>