// COLORS
:root {
  $black: #100d0d;
  $gray-500: #b2b2b2;
  $gray-800: #777777;
  $orange: #f9af31;
  $orange-200: #ffe4b7;
  $white: #fff;
  $gray-100: #eaeaea;
  $red: #cf1515;
  $green: #269c47;
  $background: #d8d8d8;

  $orange-100: #fef7ea;
  --color-black-800: #323232; 
  --color-gray-200: #f7f7f7;
 
 
  

  $active-linear: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%);
  $color-border: rgba(249, 175, 49, 0.3);
}


$font-h1: 42px;
$font-h2: 32px;
$font-h3: 18px;
$font-subtitle: 16px;
$font-body: 14px;


$border-radius:5px;
$border-radius-form:10px;
$border-radius-15px:15px;
$border-radius-bacground:20px;
$border-story-radius:0 0 20px 20px;